body {
	background-color: #CCC;
	font-family: Times;
}

h1 {
	color: blue;
	font-size: 25pt;
	padding-left: 20px;
}

h2 {
	font-size: 20pt;
}

td {
	border: 2px dotted blue;
	background-color: #FFF;
	padding-bottom: 75px;
	padding-right: 100px;
	padding-top: 25px;
	font-size: 9pt;
}

.data1 {
	width: 25%; 
	padding-right: 20px;
	padding-left: 20px;
}

.data2 {
	width: 55%;

}

.data3 {
	width: 20%;
	font-size: 9pt;
	padding-top: 25px;
	padding-left: 25px;
}

.image {
	padding-top: 30px;
	padding-left: 45px;
	display: block;
    margin-left: auto;
    /*margin-right: auto;*/
    width: 100%;

}

.picref {
	padding-left: 45px;
}

.copyright {
	margin-left: 600px;
}